.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 700ms ease-in-out forwards;
  animation: fade-in 700ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 700ms ease-in-out forwards;
  animation: fade-out 700ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 1.3;
  /* min-height: 350vh; */
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  margin-top: 0px;
}

/* servicing....text */
h1 {
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px #666666;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

/* the best prices in town */
p {
  font-size: 30px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.container--pall {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 50px;
  padding-left: 24px;
}

@media (min-width: 1024px) {
  .container--pall {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.container--py {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 1024px) {
  .container--py {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.container--px {
  padding-right: 24px;
  padding-left: 24px;
}

.container--pt {
  padding-top: 70px;
}

@media (min-width: 1024px) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 24px;
}

.container--pb {
  padding-bottom: 70px;
}

@media (min-width: 1024px) {
  .container--pb {
    padding-bottom: 96px;
  }
}

.container--pl {
  padding-left: 24px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* CSS START FOR HAMBURGER NAV */

#menuToggle-hamBurger body {
  margin: 0;
  padding: 0;
  background: #666;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
}

#menuToggle-hamBurger {
  display: block;
  position: absolute;
  top: 10px;
  right: 25px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle-hamBurger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle-hamBurger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: blue;
  border-radius: 5px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle-hamBurger span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle-hamBurger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle-hamBurger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: blue;
}

/*
 * But let's hide the middle one.
 */
#menuToggle-hamBurger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle-hamBurger input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  overflow: hidden;
  border-radius: 10px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  color: blue;
}

/*
 * And let's fade it in from the left
 */
#menuToggle-hamBurger input:checked ~ ul {
  transform: none;
  opacity: 1;
}

/* END OF HAMBURGER CSS */

/*
button, .button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}


button:hover::before, .button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}
*/
.header {
  position: relative;
  z-index: 1;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2d314d),
    to(transparent)
  );
  background-image: linear-gradient(#2d314d, transparent);
}

.header nav {
  position: relative;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
  padding-top: 17px;
  padding-bottom: 17px;
  width: 100%;
}

.header__logo img {
  width: 200px;
  height: 100px;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
  transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  right: -65px;
  width: 150px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

/* menu text */
.header__menu a {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  color: blue;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: grid;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#31d35c),
    to(#2bb7da)
  );
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/lawnmower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 25rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center;
  }
}
@media (min-width: 1024px) {
  .hero__image {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 41rem;
  }
}

/*
@media (min-width: 64em) {
  .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}

@media (min-width: 1024px) {
  .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}
*/
.hero__text {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px #666;
}
/*
@media (min-width: 1024px) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}
*/
.feature {
  background-color: cyan;
  text-align: center;
}

@media (min-width: 1024px) {
  .feature {
    margin-bottom: -70px;
    margin-top: -50px;
  }
}

@media (min-width: 40em) {
  .feature {
    text-align: center;
  }
}

.feature__intro {
  margin-bottom: 70px;
}

@media (min-width: 1024px) {
  .feature__intro {
    width: 100%;
  }
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.feature__item {
  padding: 0.9375rem;
}

@media (min-width: 640px) {
  .feature__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .feature__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

/* feature icons on home page */

/* mobile setting for icons */
.feature__icon {
  margin-bottom: 0.875rem;
}

@media (min-width: 640px) {
  .feature__icon {
    margin-bottom: 0.875rem;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .feature__icon {
    margin-bottom: 0.875rem;
    display: flex;
    justify-content: center;
  }
}

/* The distance from under nav to images */
.content-wrapper {
  margin-top: 10px;
}

.two-column-wrapper {
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  margin: 10px;
  width: 50%;
}

.profile-content-wrapper {
  padding: 20px;
}

.profile-content-wrapper h1 {
  font-size: 25px;
}
.profile-content-wrapper p {
  font-size: 20px;
  text-indent: 20px;
}
@media (min-width: 1024px) {
  .profile-image-wrapper img {
    width: 20%;
    margin: 10px;
  }
}

.feature__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__description {
  font-size: 15px;
  line-height: 1.5;
}

.articles {
  background-color: #fafafa;
}

.noStart {
  font-size: 14px;
}

.note {
  font-size: 16px;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 640px) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .article__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  padding: 1.875rem 1.875rem 0.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #2d314d;
  margin-bottom: 0.5rem;
}

.article__description {
  font-size: 0.8125rem;
}

/* below is all footer css */

.footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 70%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
  color: white;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    align-items: center;
    -ms-grid-columns: 2fr 1fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "logo links1 links2 cta"
      "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
}

.footer a {
  color: blue;
}

.footer__logo img {
  width: 200px;
  height: 100px;
  margin-bottom: 1.5rem;
}
@media (max-width: 1024px) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 1024px) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
}

.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #31d35c;
}

.footer__social a:not(:last-child) {
  margin-right: 16px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .footer__links {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

@media (max-width: 1024px) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

.footer__links a {
  line-height: 1.75;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer__links a:hover {
  color: #31d35c;
}

.footer__copyright {
  font-size: 0.8125rem;
  padding-top: 10px;
  color: white;
}

@media (min-width: 1024px) {
  .footer__copyright {
    grid-area: copyright;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-column-align: end;
    justify-self: end;
  }
}
/*# sourceMappingURL=style.css.map */
